[submodule "pkgs/better-defaults"]
        path = pkgs/better-defaults
        url = https://git.sr.ht/~technomancy/better-defaults
[submodule "themes/nord-emacs"]
        path = themes/nord-emacs
        url = https://github.com/arcticicestudio/nord-emacs.git
[submodule "pkgs/no-littering"]
        path = pkgs/no-littering
        url = https://github.com/emacscollective/no-littering.git
[submodule "pkgs/exec-path-from-shell"]
        path = pkgs/exec-path-from-shell
        url = https://github.com/purcell/exec-path-from-shell.git
[submodule "pkgs/zoom"]
        path = pkgs/zoom
        url = https://github.com/cyrus-and/zoom.git
[submodule "pkgs/perspective-el"]
        path = pkgs/perspective-el
        url = https://github.com/nex3/perspective-el
[submodule "pkgs/unicode-fonts"]
        path = pkgs/unicode-fonts
        url = https://github.com/rolandwalker/unicode-fonts.git
[submodule "pkgs/practical.org.el"]
        path = pkgs/practical.org.el
        url = https://github.com/jjuliano/practical.org.el.git
[submodule "pkgs/font-utils"]
        path = pkgs/font-utils
        url = https://github.com/rolandwalker/font-utils.git
[submodule "pkgs/ucs-utils"]
        path = pkgs/ucs-utils
        url = https://github.com/rolandwalker/ucs-utils.git
[submodule "pkgs/list-utils"]
        path = pkgs/list-utils
        url = https://github.com/rolandwalker/list-utils.git
[submodule "pkgs/emacs-direnv"]
	path = pkgs/emacs-direnv
	url = https://github.com/wbolster/emacs-direnv.git
[submodule "pkgs/tide"]
	path = pkgs/tide
	url = https://github.com/ananthakumaran/tide
