[submodule "pkgs/better-defaults"]
        path = pkgs/better-defaults
        url = https://git.sr.ht/~technomancy/better-defaults
[submodule "themes/nord-emacs"]
        path = themes/nord-emacs
        url = https://github.com/arcticicestudio/nord-emacs.git
[submodule "pkgs/no-littering"]
        path = pkgs/no-littering
        url = https://github.com/emacscollective/no-littering.git
[submodule "pkgs/exec-path-from-shell"]
        path = pkgs/exec-path-from-shell
        url = https://github.com/purcell/exec-path-from-shell.git
[submodule "pkgs/zoom"]
        path = pkgs/zoom
        url = https://github.com/cyrus-and/zoom.git
[submodule "pkgs/perspective-el"]
        path = pkgs/perspective-el
        url = https://github.com/nex3/perspective-el
[submodule "pkgs/unicode-fonts"]
        path = pkgs/unicode-fonts
        url = https://github.com/rolandwalker/unicode-fonts.git
[submodule "pkgs/practical.org.el"]
        path = pkgs/practical.org.el
        url = https://github.com/jjuliano/practical.org.el.git
[submodule "pkgs/font-utils"]
        path = pkgs/font-utils
        url = https://github.com/rolandwalker/font-utils.git
[submodule "pkgs/ucs-utils"]
        path = pkgs/ucs-utils
        url = https://github.com/rolandwalker/ucs-utils.git
[submodule "pkgs/list-utils"]
        path = pkgs/list-utils
        url = https://github.com/rolandwalker/list-utils.git
[submodule "pkgs/emacs-direnv"]
	path = pkgs/emacs-direnv
	url = https://github.com/wbolster/emacs-direnv.git
[submodule "pkgs/tide"]
	path = pkgs/tide
	url = https://github.com/ananthakumaran/tide
[submodule "pkgs/typescript-mode"]
	path = pkgs/typescript-mode
	url = https://github.com/emacs-typescript/typescript.el.git
[submodule "pkgs/dash"]
	path = pkgs/dash
	url = https://github.com/magnars/dash.el.git
[submodule "pkgs/s"]
	path = pkgs/s
	url = https://github.com/magnars/s.el.git
[submodule "pkgs/flycheck"]
	path = pkgs/flycheck
	url = https://github.com/flycheck/flycheck.git
[submodule "pkgs/web-mode"]
	path = pkgs/web-mode
	url = https://github.com/fxbois/web-mode.git
[submodule "pkgs/go-mode"]
	path = pkgs/go-mode
	url = https://github.com/dominikh/go-mode.el.git
[submodule "pkgs/auto-complete"]
	path = pkgs/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "pkgs/popup-el"]
	path = pkgs/popup-el
	url = https://github.com/auto-complete/popup-el.git
[submodule "pkgs/fuzzy-el"]
	path = pkgs/fuzzy-el
	url = https://github.com/auto-complete/fuzzy-el.git
[submodule "pkgs/magit"]
	path = pkgs/magit
	url = https://github.com/magit/magit.git
[submodule "pkgs/org-ac"]
	path = pkgs/org-ac
	url = https://github.com/aki2o/org-ac.git
[submodule "pkgs/js2-mode"]
	path = pkgs/js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule "pkgs/prettier"]
	path = pkgs/prettier
	url = https://github.com/prettier/prettier-emacs.git
[submodule "pkgs/dumb-jump"]
	path = pkgs/dumb-jump
	url = https://github.com/jacktasia/dumb-jump.git
[submodule "pkgs/wucuo"]
	path = pkgs/wucuo
	url = https://github.com/redguardtoo/wucuo.git
[submodule "pkgs/flyspell-popup"]
	path = pkgs/flyspell-popup
	url = https://github.com/xuchunyang/flyspell-popup.git
[submodule "pkgs/langtool"]
	path = pkgs/langtool
	url = https://github.com/mhayashi1120/Emacs-langtool.git
[submodule "pkgs/markdown-mode"]
	path = pkgs/markdown-mode
	url = https://github.com/jrblevin/markdown-mode.git
[submodule "pkgs/minted"]
	path = pkgs/minted
	url = https://github.com/gpoore/minted.git
[submodule "pkgs/auto-complete-pcmp"]
	path = pkgs/auto-complete-pcmp
	url = https://github.com/aki2o/auto-complete-pcmp.git
[submodule "pkgs/log4e"]
	path = pkgs/log4e
	url = https://github.com/aki2o/log4e.git
[submodule "pkgs/yaxception"]
	path = pkgs/yaxception
	url = https://github.com/aki2o/yaxception.git
[submodule "pkgs/go-autocomplete"]
	path = pkgs/go-autocomplete
	url = https://github.com/emacsattic/go-autocomplete.git
[submodule "pkgs/transient"]
	path = pkgs/transient
	url = https://github.com/magit/transient.git
[submodule "pkgs/with-editor"]
	path = pkgs/with-editor
	url = https://github.com/magit/with-editor.git
[submodule "pkgs/emacs-libvterm"]
	path = pkgs/emacs-libvterm
	url = https://github.com/akermu/emacs-libvterm.git
[submodule "pkgs/eterm-256color"]
	path = pkgs/eterm-256color
	url = https://github.com/dieggsy/eterm-256color
[submodule "pkgs/xterm-color"]
	path = pkgs/xterm-color
	url = https://github.com/atomontage/xterm-color
[submodule "pkgs/f"]
	path = pkgs/f
	url = https://github.com/rejeep/f.el
[submodule "pkgs/add-node-modules-path"]
	path = pkgs/add-node-modules-path
	url = https://github.com/codesuki/add-node-modules-path.git
[submodule "pkgs/prettier-rc-emacs"]
	path = pkgs/prettier-rc-emacs
	url = https://github.com/jjuliano/prettier-rc-emacs
[submodule "pkgs/eslint-fix"]
	path = pkgs/eslint-fix
	url = https://github.com/codesuki/eslint-fix.git
[submodule "pkgs/eslint-rc-emacs"]
	path = pkgs/eslint-rc-emacs
	url = https://github.com/jjuliano/eslint-rc-emacs.git
[submodule "themes/uwu-theme"]
	path = themes/uwu-theme
	url = https://github.com/kborling/uwu-theme.git
[submodule "themes/starlit-emacs"]
	path = themes/starlit-emacs
	url = https://github.com/SFTtech/starlit-emacs.git
[submodule "pkgs/terraform-mode"]
	path = pkgs/terraform-mode
	url = https://github.com/emacsorphanage/terraform-mode.git
[submodule "pkgs/emacs-hcl-mode"]
	path = pkgs/emacs-hcl-mode
	url = https://github.com/purcell/emacs-hcl-mode.git
[submodule "pkgs/projectile"]
	path = pkgs/projectile
	url = https://github.com/bbatsov/projectile.git
[submodule "pkgs/rainbow-delimeters"]
	path = pkgs/rainbow-delimeters
	url = https://github.com/Fanael/rainbow-delimiters.git
[submodule "pkgs/emacs-which-key"]
	path = pkgs/emacs-which-key
	url = https://github.com/justbur/emacs-which-key.git
[submodule "pkgs/ag"]
	path = pkgs/ag
	url = https://github.com/Wilfred/ag.el
[submodule "pkgs/vertico"]
	path = pkgs/vertico
	url = https://github.com/minad/vertico.git
[submodule "pkgs/marginalia"]
	path = pkgs/marginalia
	url = https://github.com/minad/marginalia.git
[submodule "pkgs/consult"]
	path = pkgs/consult
	url = https://github.com/minad/consult
[submodule "pkgs/embark"]
	path = pkgs/embark
	url = https://github.com/oantolin/embark.git
[submodule "pkgs/orderless"]
	path = pkgs/orderless
	url = https://github.com/oantolin/orderless.git
[submodule "pkgs/consult-projectile"]
	path = pkgs/consult-projectile
	url = https://gitlab.com/OlMon/consult-projectile.git
